body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #333;
    color: white;
    margin: 0 21vw;
    padding: 0;
}

p.info {
    position: fixed;
    top: 0;
    left: 0;
    color: #888;
}

h1 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 9px 0;
    background-color: #444;
    padding: 7px 11px;
    border-radius: 5px;
    cursor: pointer;
}
li:hover {
    background-color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
